/*
http://colorschemedesigner.com/#3711Tw0w0w0w0
*/
.fullWidth{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: initial;
}

.nopad{
	padding: 0;
}

section {
	overflow: hidden;
}

#hello{
	background-color: 00AF64;
}

#hello h1{
	font-family:"Arial", Helvetica, sans-serif;
	font-size: 200px;
}

#hello h2{
	font-family:"Arial", Helvetica, sans-serif;
	font-size: 100px;
}

#hello h3{
	font-family:"Arial", Helvetica, sans-serif;
	font-size: 50px;
}

#next{
	background-color: 60D4AE;
	height:500px;
}

#reveal{
  background-color:FFA273;
}

.panel{
  margin-bottom:0px;
  border-style:initial;
}

.panel a h1{
  color:#008cba;
}


